.bottom-sheet-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

.bottom-sheet-backdrop.open {
  opacity: 1;
  visibility: visible;
}

.bottom-sheet {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  border-radius: var(--round) var(--round) 0 0;
  background-color: white;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.1);
  transition: bottom 0.3s ease-in-out;
  z-index: 1000;
}

.bottom-sheet.open {
  bottom: 0;
}

.bottom-sheet-content {
  padding: 48px 48px 16px 48px;

  & .bottom-sheet-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.order-table {
  display: grid;

  grid-template-areas:
    "title-bar"
    "info-order"
    "total-order";

  grid-template-columns: repeat(0, minmax(0fr));

  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: var(--round);

  margin: 16px 0;
}

.title-bar-resume {
  grid-area: title-bar;
  display: flex;
  height: 45px;
  background-color: var(--primary);
  border-radius: 8px;

  & iconify-icon {
    width: 48px;
    display: grid;
    place-content: center;
  }

  & span {
    border-left: var(--black) solid 1px;
    font-weight: 600;
    padding: 0 8px;
    margin: 8px 0;
    font-size: 18px;
  }

  & .name {
    flex: 1;
  }

  & .price {
    width: 100px;
    text-align: center;
  }
  .quantity {
    width: 136px;
    text-align: center;
  }

  & .subtotal,
  .quantity- {
    text-align: center;
    width: 160px;
  }
}

.quantity-delivery {
  text-align: center;
}

.info-delivery {
  grid-area: info-order;
  display: flex;
  height: 45px;

  & img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: var(--round);
    margin: 8px;
  }

  & .name {
    flex: 1;
    text-align: start;
  }

  & span {
    border-left: #cccccc solid 1px;
    font-weight: 600;
    padding: 0 8px;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
  }

  & .price {
    width: 100px;
  }

  & .quantity {
    width: 136px;
  }

  & .total-spend {
    width: 160px;
  }
}

.separator-1 {
  grid-area: hr;
  height: 5px;
}

.total-delivery {
  grid-area: total-order;
  display: flex;
  border-top: #cccccc solid 1px;

  & .user-icon {
    width: 32px;
    height: 32px;
    margin: 8px;
    display: grid;
    place-content: center;
    background: var(--light);
    border-radius: var(--round);
  }

  & .type-client {
    font-weight: 600;
  }
  & span {
    padding: 0 8px;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
  }
  & .delivery-text {
    flex: 1;
    border-left: #cccccc solid 1px;
    text-align: justify;
  }
  & .delivery-total-spend {
    width: 136px;
    border-left: #cccccc solid 1px;
  }
  & .delivery-spend {
    width: 160px;
    border-left: #cccccc solid 1px;
  }
}

.footer-order {
  display: flex;
  height: 60px;
  align-items: center;

  & .text-footer {
    flex: 1;
    font-size: 25px;
  }

  & .price {
    font-weight: 600;
  }
}

.quantity-selector {
  display: flex;
  align-items: center;

  --size: 32px;

  & span {
    width: 48px;
    background: var(--light);
    display: grid;
    place-content: center;
    height: var(--size);
  }

  & button {
    background-color: var(--primary);
    height: var(--size);
    width: var(--size);
    font-size: 18px;
    display: grid;
    place-content: center;
  }

  & .quantity-left {
    border-top-left-radius: var(--round);
    border-bottom-left-radius: var(--round);
  }

  & .quantity-right {
    border-top-right-radius: var(--round);
    border-bottom-right-radius: var(--round);
  }
}

/* .styled-table {
  border-collapse: collapse;
  width: 100%;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
  border-radius: 8px;
  overflow: hidden;

  & thead {
    width: 100%;
    background-color: #ffc107;
    color: #000;
    padding: 4px 4px;
  }

  & th {
    background-color: red;
    width: 100px;
  }
} */

.grid-table {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto; /* Define 5 columnas, la segunda (1fr) ocupa el espacio disponible */
  font-size: 18px;
  margin: 20px 0;

  & .header,
  .row,
  .footer {
    display: contents; /* Permite que las celdas se alineen según la grid */
  }
  
  & .cell {
    padding: 4px 12px;
    border-right: 1px solid #ddd;
    display: flex;
    align-items: center;
  }

  & .header {
    font-weight: bold;
    width: 100%;
    height: 32px;
  }

  & .footer {
    font-weight: bold;
  }

   & .icon {
    display: grid;
    place-content: center;
   }

  & .icon img {
    width: 32px;
    height: 32px;
    margin: auto;
  }

  & .product-image {
    border-radius: var(--round);
    object-fit: cover;
    margin-right: 10px;
  }

  & .full-width {
    grid-column: span 1;
  }
}

/* 

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.styled-table tbody tr {
  background-color: #fff;
}

.styled-table tbody td img {
  margin-right: 10px;
}

.styled-table tbody .product-info {
  display: flex;
  align-items: center;
}

.styled-table tbody .product-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.styled-table tbody .quantity-control {
  display: flex;
  align-items: center;
}

.styled-table tbody .quantity-control button {
  background-color: #ffc107;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.styled-table tbody .quantity-control span {
  margin: 0 10px;
}

.styled-table tfoot {
  background-color: #fff;
  color: #000;
}

.styled-table tfoot .client-type {
  display: flex;
  align-items: center;
}

.styled-table tfoot .footer-icon {
  margin-right: 10px;
}

.styled-table tfoot .total-label {
  font-weight: bold;
  text-align: right;
}

.styled-table tfoot .total-price {
  font-weight: bold;
  text-align: right;
} */
